.dropdown-menu {
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
    background-color: #333333;
}

.dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
}

.dropdown-menu li {
    position: relative;
}

.nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.nav-item .submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover {
    background-color: #333333;
    color: gainsboro !important;

}

.dropdown-menu>li:hover>.submenu {
    display: block;
}

.navbar-brand img{
    width: 30px !important;
}

.navbar ul li{
    padding: 0 17px;
}

dropdown-menu a:hover {
    background-color: #333333;
    color: gainsboro;
}

.dropdown-menu a{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

.container-menu{
    padding: 0;
}

.menu{
    padding: 0px 125px;
}

.navbar ul li a{
    font-size: 13px;
}

/* .navbar-nav li:hover>ul.dropdown-menu{
    display: block;
} */

/* .dropdown-item:hover{
    background-color: #333333;
    color: white;
} */