*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
.navbar{
    background-color: #333333 !important;
}
header{
    background-color: #333333;
}
.navbar ul li{
    padding: 0 17px;
}
.navbar ul li a{
    font-size: 13px;
}

.navbar-brand img{
    width: 30px !important;
}

i.fas.fa-search{
    margin-top: 15px !important;
}

i.fas.fa-shopping-bag{
    margin-top: 15px !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.nav-link{
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

.navbar-nav li:hover>ul.dropdown-menu{
    display: block;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    margin-top: 15px;
    padding-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 400ms ease;
    transition-delay: 1200ms;
}

.dropdown-menu a{
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #333333; color: gainsboro;}

.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu{
    top: 0;
    margin-top: -5px;
    left: 100%;
}